.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.links {
  display: flex;
  align-items: center;
}

.nav__theme {
  margin-left: 1em;
}

.toggleButton {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggleButton {
      display: block;
  }

  .links {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
  }

  .links.expand {
      display: flex;
      margin-top: 7.6em; /* Add margin-top to move links down */
  }

  .links a {
      width: 100%;
      padding: 1em 0; /* Increase padding for better visibility */
      margin-left: 1em; /* Add left margin for some spacing from the left edge */
  }

  .nav__theme {
      margin-left: 1em;
      margin-top: 1em; /* Add margin-top for spacing below the last link */
  }
}

@media only screen and (min-width: 601px) {
  .links {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .toggleButton {
      display: none;
  }
}